<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkPlace</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../Imagenes/WorkPlace_logo.png" type="image/x-icon" sizes="11x11">
    <script src="https://kit.fontawesome.com/35fd8e12c7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="../index.html">
                <img class="nav__logo" src="../Imagenes/WorkPlace_logo.png" alt="imagen_logo">
            </a>
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="Inicio " href="../index.html">Inicio</a>
                </li>
                <li class="nav__list-item">
                    <a class="buscarempleo" href="../views/buscarempleo.html">Buscar Empleo</a>
                </li>
                <li class="nav__list-item">
                    <a class="publicarvacante" href="../views/publicarvacante.html">Publicar Vacante</a>
                </li>
                <li class="nav__list-item">
                    <a class="empresas" href="../views/paraempresas.html">Empresas</a>
                </li>
                <li class="nav__list-item">
                    <a class=" activo Contacto" href="../views/contacto.html">Contacto</a>
                </li>
            </ul>
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="informacion" href="../views/informaciontecnica.html" ><i class="fa-solid fa-circle-info" ></i></a>
                </li>
                <li class="nav__list-item">
                    <a class="ayuda" href="../views/centrodeayuda.html"><i class="fa-solid fa-circle-question" ></i></a>
                </li>
                <li class="nav__list-item">
                    <a class="Contacto" href="../views/contacto.html"><i class="fa-brands fa-think-peaks" ></i></a>
                </li>
                <li class="nav__list-item">
                    <a class="perfil" href="../views/perfil.html"><i class="fa-regular fa-circle-user" ></i></a>
                </li>
            </ul>
        </nav>
        </nav>
    </header>
    <main class="container">

    </main>
    <footer class="footer">
        <section class="footer__items">
            <h3 class="footer__title">WorkPlace</h3>
            <p class="footer__description">La plataforma líder que conecta talento con oportunidades. Encuentra tu próximo empleo o el candidato perfecto.</p>
            <article class="footer__media">
                <a class="fa-brands fa-instagram" href="https://www.instagram.com/"></a>
                <a class="fa-brands fa-facebook-f" href="https://es-la.facebook.com/"></a>
                <a class="fa-brands fa-square-x-twitter" href="https://x.com/"></a>
            </article>
        </section>
        <section class="footer__items">
            <h3 class="footer__title">Enlaces Rápidos</h3>
            <a class="footer__description" href="views/buscarempleo.html">Buscar Empleos</a>
            <a class="footer__description" href="views/publicarvacante.html">Publicar Vacante</a>
            <a class="footer__description" href="views/paraempresas.html">Para Empresas</a>
            <a class="footer__description" href="views/perfil.html">Mi Perfil</a>
            <a class="footer__description" href="views/contacto.html">Contacto</a>
            <a class="footer__description">Mapa del Sitio</a>
        </section>
        <section class="footer__items">
            <h3 class="footer__title">Información Legal</h3>
            <a class="footer__description"> Terminos y Condiciones</a>
            <a class="footer__description">Politica de Privacidad</a>
            <a class="footer__description">Politica de cookies</a>
            <a class="footer__description">Aviso Legal</a>
            <a class="footer__description">Código de Conducta</a> 
        </section>
        <section class="footer__items">
            <h3 class="footer__title">Contacto de Soporte</h3>
            <i class= "footer__icon fa-regular fa-envelope"></i><span class="footer__sub-title">Soporte General:</span>
            <p class="footer__description">soporte@workplace.com.co</p>
            <i class="footer__icon fa-solid fa-phone"></i><span class="footer__sub-title">Linea Nacional:</span>
            <p class="footer__description">018000912345</p>
            <span class="footer__sub-title">Bogotá:</span>
            <p class="footer__description">+57 (601) 456-7890</p>
            <i class="footer__icon fa-solid fa-location-dot"></i><span class="footer__sub-title">Sede Principial:</span>
            <p class="footer__description">Calle 45 #27-58, piso 6, Bogotá</p>
        </section>
    </footer>
</body>