<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkPlace</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../Imagenes/WorkPlace_logo.webp" type="image/x-icon" sizes="11x11">
    <script src="https://kit.fontawesome.com/35fd8e12c7.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="../manifest.json">
</head>
<body>
    <header>
        <nav class="nav">
            <a href="../index.html">
                <img class="nav__logo" src="../Imagenes/WorkPlace_logo.webp" alt="imagen_logo">
            </a>
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="Inicio " href="../index.html">Inicio</a>
                </li>
                <li class="nav__list-item">
                    <a class="buscarempleo" href="../views/buscarempleo.html">Buscar Empleo</a>
                </li>
                <li class="nav__list-item">
                    <a class="publicarvacante" href="../views/publicarvacante.html">Publicar Vacante</a>
                </li>
                <li class="nav__list-item">
                    <a class="empresas" href="../views/paraempresas.html">Empresas</a>
                </li>
                <li class="nav__list-item">
                    <a class="Contacto" href="../views/contacto.html">Contacto</a>
                </li>
            </ul>
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="informacion" href="../views/informaciontecnica.html" ><i class="fa-solid fa-circle-info" ></i></a>
                </li>
                <li class="nav__list-item">
                    <a class="ayuda" href="../views/centrodeayuda.html"><i class="fa-solid fa-circle-question" ></i></a>
                </li>
                <li class="nav__list-item">
                    <a class="Contacto" href="../views/contacto.html"><i class="fa-brands fa-think-peaks" ></i></a>
                </li>
                <li class="nav__list-item">
                    <a class=" activo perfil" href="../views/perfil.html"><i class="fa-regular fa-circle-user" ></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">

    </main>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/WorkPlace/sw.js')
            .then(() => console.log('SW registrado'))
            .catch(err => console.log('Error SW:', err));
        }
    </script>
</body>
</html>
